@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #39FF14;
}
.dark ::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #39FF14;
}

/* Selection */
::selection {
  background-color: #39FF14;
  color: #000;
}

/* Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
